In [2]:
import pandas as pd
import numpy as np

In [11]:
data={
    "std_id":np.random.randint(1,30,30),
    "math_score":np.random.randint(25,100,30),
    "english_score":np.random.randint(25,100,30),
    "physics_score":np.random.randint(25,100,30),
    "chemistry_score":np.random.randint(25,100,30),
}
#cell ko ek hi bar use karna

In [12]:
df=pd.DataFrame(data)
df

    std_id  math_score  english_score  physics_score  chemistry_score
0        4          72             40             55               36
1       25          89             65             52               40
2       20          60             67             71               68
3        3          40             73             46               31
4       12          84             87             84               36
5        4          53             62             69               93
6       16          29             34             28               70
7       16          56             62             39               49
8       21          81             73             54               75
9        6          92             54             52               43
10      11          91             32             78               38
11      23          73             50             69               86
12      25          38             44             42               68
13      20          69             52             46               63
14      23          88             61             65               88
15       2          60             56             74               76
16      24          54             27             33               38
17      29          88             31             92               53
18      13          65             57             32               41
19      17          60             89             79               41
20      10          68             62             36               46
21      20          93             34             38               96
22      28          86             31             44               55
23      21          77             43             34               90
24       7          84             99             53               43
25       2          96             98             36               30
26      21          98             89             97               36
27      18          30             70             39               60
28      28          35             45             56               85
29      10          25             29             50               89

In [3]:
data={
    "std_id":np.random.randint(1,30,30),
    "math_score":np.random.randint(25,100,30),
    "english_score":np.random.randint(25,100,30),
    "physics_score":np.random.randint(25,100,30),
    "chemistry_score":np.random.randint(25,100,30),
}
#cell ko ek hi bar use karna

In [13]:
df=pd.DataFrame(data)
df.head()#top 5 row and colum5

    std_id  math_score  english_score  physics_score  chemistry_score
25       2          96             98             36               30
26      21          98             89             97               36
27      18          30             70             39               60
28      28          35             45             56               85
29      10          25             29             50               89

In [14]:
df.tail()

    std_id  math_score  english_score  physics_score  chemistry_score
25       2          96             98             36               30
26      21          98             89             97               36
27      18          30             70             39               60
28      28          35             45             56               85
29      10          25             29             50               89

In [15]:
df.isnull()

    std_id  math_score  english_score  physics_score  chemistry_score
0    False       False          False          False            False
1    False       False          False          False            False
2    False       False          False          False            False
3    False       False          False          False            False
4    False       False          False          False            False
5    False       False          False          False            False
6    False       False          False          False            False
7    False       False          False          False            False
8    False       False          False          False            False
9    False       False          False          False            False
10   False       False          False          False            False
11   False       False          False          False            False
12   False       False          False          False            False
13   False       False          False          False            False
14   False       False          False          False            False
15   False       False          False          False            False
16   False       False          False          False            False
17   False       False          False          False            False
18   False       False          False          False            False
19   False       False          False          False            False
20   False       False          False          False            False
21   False       False          False          False            False
22   False       False          False          False            False
23   False       False          False          False            False
24   False       False          False          False            False
25   False       False          False          False            False
26   False       False          False          False            False
27   False       False          False          False            False
28   False       False          False          False            False
29   False       False          False          False            False

In [16]:
df.isnull().sum()

std_id             0
math_score         0
english_score      0
physics_score      0
chemistry_score    0
dtype: int64

In [17]:
df.isna().sum()

std_id             0
math_score         0
english_score      0
physics_score      0
chemistry_score    0
dtype: int64

In [18]:
df.describe()

          std_id  math_score  english_score  physics_score  chemistry_score
count  30.000000   30.000000      30.000000      30.000000        30.000000
mean   15.966667   67.800000      57.200000      54.766667        58.766667
std     8.430173   22.077294      21.114466      18.931243        21.504905
min     2.000000   25.000000      27.000000      28.000000        30.000000
25%    10.000000   54.500000      40.750000      39.000000        40.250000
50%    17.500000   70.500000      56.500000      52.000000        54.000000
75%    22.500000   87.500000      69.250000      69.000000        75.750000
max    29.000000   98.000000      99.000000      97.000000        96.000000

In [22]:
from statistics import mean,median,mode
maths_score_mean=mean(df['math_score'])
maths_score_mean
df['math_score'].describe ()

count    30.000000
mean     67.800000
std      22.077294
min      25.000000
25%      54.500000
50%      70.500000
75%      87.500000
max      98.000000
Name: math_score, dtype: float64

In [23]:
df['english_score'].describe()

count    30.000000
mean     57.200000
std      21.114466
min      27.000000
25%      40.750000
50%      56.500000
75%      69.250000
max      99.000000
Name: english_score, dtype: float64

In [24]:
df['physics_score'].describe ()

count    30.000000
mean     54.766667
std      18.931243
min      28.000000
25%      39.000000
50%      52.000000
75%      69.000000
max      97.000000
Name: physics_score, dtype: float64

In [26]:
#df['chemistry_score'].describe ()
df.columns

Index(['std_id', 'math_score', 'english_score', 'physics_score',
       'chemistry_score'],
      dtype='object')

In [28]:
df=pd.read_csv('titanic.csv')
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'titanic.csv'